VITE_APP_URL=https://momence-task-flame.vercel.app
CNB_RATES_BASE_URL=https://www.cnb.cz/en/financial-markets/foreign-exchange-market/central-bank-exchange-rate-fixing/central-bank-exchange-rate-fixing/daily.txt
