@import url('https://unpkg.com/nanoreset/nanoreset.min.css');

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
  letter-spacing: -0.015em;
}

input {
  font-family: inherit;
  letter-spacing: inherit;
}
